
/* Date: 25/10/2018
Author: Lewis Gray
Summary: This stylesheet gets imported in globalCommon.css file. 
This stylesheet contains all of the list style classes according to the UX specification of basic list on P-IVI platform.
This file contains lists for two screen ratios 

1. Aspect ratio of 16/9 
2. Aspect ratio of 8/3


*/

@media (max-aspect-ratio: 8/3) {

    /* Day/night toggle */
    #control-panel{ 
    	left: 50% !important;
    	top: 30px !important;
    }

    .spinner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        /*background: url(assets/bg_triangles_light_wide.png) no-repeat center;*/
        background-size: cover;
    }

    body.night .spinner{
        /*background-image: url(assets/bg_triangles_dark_wide.png);*/
    }

    @keyframes spinAnimation{
        100% { 
        	background-position: -9280px 0; 
        }
    } 

    .spinner:before {
        content: '';
        animation: spinAnimation 1.4s steps(29) infinite;
        width: 320px;
        height: 320px;
        overflow: hidden;
        background: url(assets/sprites/spinner.png) no-repeat;
    }

    .spinner .spinner__title {
        font-family: "Tipperary for JLR - PRC";
        color: rgba(140, 99, 57, 1);
        font-weight: normal;
        margin-top: 59px;
        font-size: 60px;
        letter-spacing: 3px;
    }

    body.night .spinner .spinner__title {
      	color: rgba(178, 178, 178, 1);
    }

}

@media (max-aspect-ratio: 16/9) {

	.spinner{
		background-image: url(assets/bg_triangles_light_tall.png);
	}

	body.night .spinner{
		background-image: url(assets/bg_triangles_dark_tall.png);
	}

	.spinner .spinner__title{
		margin-top: 133px;
		color: rgba(209, 165, 125, 1);
	}

}
