@media (max-aspect-ratio: 8/3) { 
#navbar {
    padding: 5px 5px 5px 5px;
    position: fixed;
    bottom: 0;
  }

ul.nav {
    margin: 300px 175px 0px 168px;   
    list-style-type: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: absolute;
    width:100%;
    bottom: 0;
    border-style: solid;
    border-color: green;
}

li.nav {
    float: left;
    font-family:monospace;
    height:2em;
    border-style: solid;
    border-color: yellow;
}

li.nav a {
    display: block;
    color: white;
    margin: 0;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    
    border-style: solid;
    border-color: red;
}

li.nav a:hover:not(.active) {
    background-color: #111;
}
 
.active {
    background-color: #f1f1f1;
}
   
   
div.ex1 {
    background-color: lightblue;
    width: 95%;
 
    
}

}