@media (max-aspect-ratio: 8/3) {
    @keyframes riseUp {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    /*home button for example purposes only*/
    #homeButton {
        position: absolute;
        border-width: 1px;
        top: 0px;
        left: 0px;
        margin-left: 60px;
        margin-top: 60px;
        font-size: 36px;
    }

    #menu-bar {
        width: var(--app-area-no-sidebars);
        position: fixed;
        height: var(--one-row-height);
        top: var(--five-row-height);
        /*this is temporary color as I don't know the expected background color*/
        /*overflow-y: hidden;*/
    }

    #toggleMode {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 30px;
    }

    /*container is centered based on contents (menu button options)*/
    .menu-bar__alignmentContainer {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    /*animations for buttons rising up on-load*/
    .menu-bar__alignmentContainer li:nth-child(1) {
        animation: 200ms ease-out 0s 1 riseUp;
    }

    .menu-bar__alignmentContainer li:nth-child(2) {
        animation: 375ms ease-out 0s 1 riseUp;
    }

    .menu-bar__alignmentContainer li:nth-child(3) {
        animation: 450ms ease-out 0s 1 riseUp;
    }

    .menu-bar__alignmentContainer li:nth-child(4) {
        animation: 525ms ease-out 0s 1 riseUp;
    }

    .menu-bar__alignmentContainer li:nth-child(5) {
        animation: 600ms ease-out 0s 1 riseUp;
    }

    li {
        list-style-type: none;
    }

    /*we need to get consistent information about font size, letter spacing, and padding. This is inconsistent in specs
    and only four menu items can fit if pixel perfect*/
    .menu-bar__button {
        height: 120px;
        text-align: center;
        font-size: 38px;
        /*below is 5px in LG specs and unclear in style-guide (3.6mm, 100 spacing kearning) The provided images indicate
        the spacing is 100*/
        border: none;
        background: none;
        outline: none;
        /*the provided images indicate the padding should be 20, not 53, though the LG specs indicate 53*/
        padding: 0px 53px;
    }

    /*remove padding on the first and last button so buttons can get closer to edge of app area*/
    li:first-of-type .menu-bar__button {
        padding-left: 0px;
    }

    li:last-of-type .menu-bar__button {
        padding-right: 0px;
    }

    .menu-bar_button--selectedUnderline {
        height: 3px;
        margin: 0px 85px;
        transition: margin 250ms linear, visibility 250ms linear;
        visibility: hidden;
    }

    .menu-bar__button:focus, .menu-bar__button.--selected {
        outline: none;
    }

    /*animation on the underline*/
    .menu-bar__button:focus .menu-bar_button--selectedUnderline, .menu-bar__button.--selected .menu-bar_button--selectedUnderline {
        margin: 0px -12px;
        visibility: visible;
    }

    /*Night Mode*/
    body.night .menu-bar .menu-bar__button {
        color: #ffffff;
    }

    body.night .menu-bar .menu-bar_button--selectedUnderline {
        background-color: #ffffff;
    }

    body.night .menu-bar .menu-bar__button:disabled {
        color: #b2b2b2;
    }

    body.night .menu-bar .menu-bar__button:focus, body.night .menu-bar .menu-bar__button.--selected {
        color: #d1a57d;
    }

    body.night.cn .menu-bar .menu-bar__button:focus .menu-bar_button--selectedUnderline, body.night.cn .menu-bar .menu-bar__button.--selected .menu-bar_button--selectedUnderline {
        background-color: #d1a57d;
        margin-top: 15px;
    }
    body.night.en .menu-bar .menu-bar__button:focus .menu-bar_button--selectedUnderline, body.night.en .menu-bar .menu-bar__button.--selected .menu-bar_button--selectedUnderline {
        background-color: #d1a57d;
        margin-top: 15px;
    }

    /*Day Mode*/
    body.day .menu-bar .menu-bar__button {
        color: #000000;
    }

    body.day .menu-bar .menu-bar_button--selectedUnderline {
        background-color: #000000;
    }

    body.day .menu-bar .menu-bar__button:disabled {
        color: #4d4d4d;
    }

    body.day .menu-bar .menu-bar__button:focus, body.day .menu-bar .menu-bar__button.--selected {
        color: #8c6339;
    }

    body.day.cn .menu-bar .menu-bar__button:focus .menu-bar_button--selectedUnderline, body.day.cn .menu-bar .menu-bar__button.--selected .menu-bar_button--selectedUnderline {
        background-color: #8c6339;
        margin-top: 15px;
    }
    
     body.day.en .menu-bar .menu-bar__button:focus .menu-bar_button--selectedUnderline, body.day.en .menu-bar .menu-bar__button.--selected .menu-bar_button--selectedUnderline {
        background-color: #8c6339;
        margin-top: 15px;
    }

}